@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', 'Courier New',
    monospace;
}

.correct {
  color: #155724;
  background: #d4edda !important;
  border: 1px solid #c3e6cb !important;
}

.incorrect {
  color: #721c24;
  background: #f8d7da !important; 
  border: 1px solid #f5c6cb !important;
}