.result_box {
  background: #fff;
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  box-sizing: border-box;
  width: 40%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease;
}
@media (max-width: 991px) {
  .result_box{
    width:90% ;
  }
}

.icon {
  color: #007bff;
  margin-bottom: 10px;
  font-size: 100px;
}

.complete_text {
  font-size: 20px;
  font-weight: 500;
}

.score_text span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.score_text span p {
  padding: 0 4px;
  box-sizing: border-box;
  font-weight: 600;
}

.buttons {
  display: flex;
  margin: 20px 0;
}

.buttons button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}

.buttons button.restart {
  color: #fff;
  background: #007bff;
}

.buttons button.restart:hover {
  background: #0263ca;
}

.buttons button.quit {
  color: #007bff;
  background: #fff;
}

.buttons button.quit:hover {
  color: #fff;
  background: #007bff;
}
